<div class="container">
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-0 col-md-offset-0 col-lg-offset-0">
			<button class="btn btn-Primary" ng-click="volver();">
				Volver
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-2 col-md-offset-3 col-lg-offset-4">
			<h1>Gestion - Usuarios</h1> 
		</div>
	</div>
			  
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-2 col-md-offset-3 col-lg-offset-4">
			<a ui-sref="alta" class="list-group-item  list-group-item list-group-item-info">
		    	<h4 class="list-group-item-heading">Alta de Personas</h4>
		    </a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-2 col-md-offset-3 col-lg-offset-4">		
			<a ui-sref="grilla" class="list-group-item  list-group-item list-group-item-info">
		      <h4 class="list-group-item-heading">Grilla de Personas</h4>
		    </a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-2 col-md-offset-3 col-lg-offset-4">		
			<a ui-sref="verLogs" class="list-group-item  list-group-item list-group-item-info">
		      <h4 class="list-group-item-heading">Ver registro de log</h4>
		    </a>
		</div>
	</div>
						
				   
</div>