<div class="container">
	
	<div class="row" style="display:inline-block;">
		<div class="col-xs-4 col-md-4 col-lg-4 menu-admin">
			<img class="gestionDeUsuarios" src="css/img/estadisticas.jpg" alt="Estadisticas de turnos">
			<button class="btn btn-warning btnGestionDeUsuarios" ng-click="verGraficoLineal()">
				Estadisticas de turnos
			</button>
		</div>
		<div class="col-xs-4 col-md-4 col-lg-4 menu-admin">
			<img class="gestionDeUsuarios" src="css/img/estadisticasCircular.png" alt="Estadisticas de especialidades">
			<button class="btn btn-warning btnGestionDeUsuarios" ng-click="verGraficoCircular()">
				Estadisticas de especialidades
			</button>
		</div>
		<div class="col-xs-4 col-md-4 col-lg-4 menu-admin">
			<img class="gestionDeUsuarios" src="css/img/gestionDeUsuarios.jpg" alt="Gestion de usuarios">
			<button class="btn btn-warning btnGestionDeUsuarios" ng-click="gestionarUsuarios()">
				Gestion de usuarios
			</button>
		</div>
	</div>
	
</div>