<div class="container">
	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
			<img src="css/img/turnos.jpg" alt="Turnos">
		<button class="btn btn-warning" ng-click="solTurno();" style="width:200px;">
			Solicitar turno
			</br> o Ver Doctores
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
			<img src="css/img/misturnos.jpg" alt="Turnos" ng-click="">
		<button class="btn btn-warning" ng-click="verTurnos()" style="width:200px;" >
			Ver turnos
		</div>
	</div>
	<!--<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-3 col-xs-offset-2 col-md-offset-2 col-lg-offset-3">
			<button class="btn btn-warning" ng-click="testPDF()">
				PDF TEST
			</button>
		</div>
	</div>
	<div id="tablaTurnos">
		<div class="row tb1" id="ta1">
		  <div class="col-md-1 col-lg-offset-3">Nombre</div>
		  <div class="col-md-2">Sobrenombre</div>
		  <div class="col-md-2">Especialidad del turno</div>
		</div>
		<div class="row tb1" id="ta2">
		  <div class="col-md-1 col-lg-offset-3">Martin</div>
		  <div class="col-md-2">Mike</div>
		  <div class="col-md-2">Traumatologia</div>
		</div>
		<div class="row tb1"  id="ta3">
		  <div class="col-md-1 col-lg-offset-3">Luis</div>
		  <div class="col-md-2">Neme</div>
		  <div class="col-md-2">Clinico</div>
		</div>
		<div class="row tb1"  id="ta4">
		  <div class="col-md-1 col-lg-offset-3">Ignacio</div>
		  <div class="col-md-2">Nacho</div>
		  <div class="col-md-2">Radiologia</div>
		</div>
	</div>-->
	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-3 col-xs-offset-2 col-md-offset-2 col-lg-offset-3">
			<button class="btn btn-warning" ng-click="initMap()">
				Map
			</button>
		</div>
	</div>
	<div id="map" style="height:50%;width:50%;">
	</div>
</div>