<div class="container">
	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
			<img src="css/img/misturnos.jpg" alt="Turnos" ng-click="">
		<button class="btn btn-warning" ng-click="verTurnos()" style="width:200px;" >
			Ver turnos
		</div>
	</div>

	<div class="row" style="margin-top: 10px;">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
			<img src="css/img/disponibilidad.png" alt="Turnos" ng-click="">
		<button class="btn btn-warning" ng-click="verCargaDisponibilidad()" style="width:200px;" >
			Cargar disponibilidad
		</div>
	</div>
</div>