<div class="container">
  	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
		<label>Nombre</label></br>
		<input type="text" ng-model="paciente.nombre"/></br>
		<label>E-Mail</label></br>
		<input type="mail" ng-model="paciente.mail"/></br>
		<label>Clave</label></br>
		<input type="text" ng-model="paciente.clave"/></br>
		<button type="button" class="btn btn-success" ng-click="guardar();">Guardar</button>
		<button type="button" class="btn btn-warning" ng-click="cancelar();">Cancelar</button>
		</div>

	</div>
</div>