<div class="container">
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-0 col-md-offset-0 col-lg-offset-0">
			<button class="btn btn-Primary" ng-click="volver();">
				Volver
			</button>
		</div>
	</div>	
  	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
			<form>
				<label>Fecha</label></br>
				<input type="date" min="2017-08-03" ng-min="2017-08-03" ng-model="fecha" required/></br>
				<label>Hora (Entre 16 y 20 hs)</label></br>
				<input type="number" min="16" max="20" ng-model="turno.hora"/></br>
				<input type="submit" class="btn btn-success" ng-click="guardarTurno()"/>
			</form>
		</div>

	</div>
</div>