<div class="container">
	<div class="row">
		<div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-0 col-md-offset-0 col-lg-offset-0">
			<button class="btn btn-Primary" ng-click="volver();">
				Volver
			</button>
		</div>
	</div>	
  	<div class="row">
		<div class="col-xs-2 col-md-2 col-lg-4 col-xs-offset-2 col-md-offset-2 col-lg-offset-4">
			<form>
				<div style="color:red;">
					<label>Seleccione una fecha </label>
					</br>
					<label>y se mostraran los horarios disponibles</label>
				</div>
				</br>
				</br>
				<label>Fecha</label></br>
				<!--<input type="date" min="2017-08-03" ng-min="2017-08-03" ng-model="fecha" required/>-->
				<input type="text" id="datepicker" ng-model="fecha">
				</br>
				<label>Hora</label></br>
				<select ng-model="horaSeleccionada" ng-options="horario as horario.hora for horario in horarios"></select>
				</br>
				<!--<input type="number" min="16" max="20" ng-model="turno.hora"/></br>-->
				<input type="input" style="margin-top:5px;" disabled ng-model="especialidad"><br>
				<input type="submit" style="margin-top:5px;" class="btn btn-success" ng-click="guardarTurno()"/>
			</form>
		</div>

	</div>
</div>